* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search {
  background: #5252ff;
  padding: 10px;
  text-align: center;
  height: 100vh;
}

.search input[type="text"] {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 15px;
}
.search input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 15px;
  margin-left: 10px;
}

.search h2 {
  color: white;
  padding: 10px;
}

.container {
  margin-top: 20px;
  padding: 10px;
  color: white;
}
